{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}

<div class="row">
<div class="col-sm-12">
<h1>About</h1>
<p>Hi I am Andi</p>
<h2>Here's is a list</h2>

<ol>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
    <li>Four</li>
</ol>

<ul style="list-style: none; background-color: green; color: white">
    <li>One</li>
    <li>Two</li>
    <li style="color: red">Three</li>
    <li>Four</li>
</ul>

<p>Hello to all my friends. How are you ?</p>

</div>
</div>




{% endblock %}