{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
 <!-- Page Content -->


    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About
      <small>Me</small>
    </h1>

    

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-4">
        <img class="img-fluid rounded mb-4" src="{% static "/img/road.jpg" %}" />
      </div>
      <div class="col-lg-8">
        <h2>About Me</h2>
        <p>Hello Everybody! I am Andi Milhomme</p>
        <p>I got started in programming during high school, and I never looked back. </p>
        <p>I am not just interested in programming, the world fascinates me and I try to learn about it everyday.
       In my spare time, I tend to explore my artistic side mainly through photography, filmaking, music and painting.</p>

       <p>Welcome and Enjoy your time here.</p>
      </div>
    </div>
    <!-- /.row -->





{% endblock %}