{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}


<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">Contact
    <small>Me</small>
</h1>

<p>Please fill out this form . I will quickly get back to you</p>

<div class="row">
    <div class="col-sm-12">
        {% if messages %}
        <ul class="messages alert alert-warning alert-dismissible fade show" role="alert">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </ul>
        {% endif %}

        <div>

            {% if  form %}
            <form role="form" action="/contact/" method="post">
                {% csrf_token %}

                {{ form.as_p }}
                
                <button class="myblue" type="submit">Submit</button>
            </form>
            {% else %}
            <a href="/">Back Home</a>
            {% endif %}


            <!--  {{ form_data }} -->

        </div>
    </div>
</div>





{% endblock %}