{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <h1>Contact</h1>

            <div>
 <form role="form" action="/contact/" method="post">
                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit">Submit</button>
          </form>
              <!--  {{ form_data }} -->

            </div>
        </div>
    </div>




{% endblock %}