{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}

<div class="row">
<div class="col-sm-12">
<div class="container ">
  <img class=" mt-2 profile-img" src="{{user.coreuserprofile.profile_image.url}}" />
  <h1 class="mb-0">Andi <span class="text-primary">The Robot</span></h1>

</div>
 <p>Programmer and Hobbyist. Doing a million things

        This is a tech laboratory.

        This website is the primary hub to showcase my technical skills. The backend is equally as important: build with
        Digital Ocean, and various other stacks which I plan to share.

        If you're here for the tech please visit the tech page

        If you're here for the hobbies please visit the hobbies page

        If you'd like to talk to me please contact me here</p>

    <p>This site is built from scratch with: Django + SQL. Hosted on a VPS</p>
</div>
</div>

    <div class="row">
  <div class="col-sm-8">
  <h2>Recent Activity</h2>
      <p> Updating my site</p>
      </div>
</div>

<div class="row">
  <div class="col-sm-8">
  <h2>Find me on these platforms</h2>
      <ul>
          <li>LinkedIn, GitHub, Twitter, Instagram</li>
      </ul>
      </div>
</div>



{% endblock %}