{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}


<!-- for optional "do-not-print" class -->
<div class="container  ">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron main-header">
        <div class="row">
          <div class="col-sm-3"> <img class=" mt-2 profile-img" src="{% static "/img/prof.jpg" %}" /></div>
          <div class="col-sm-9">
            <h1 class="display-4">
              <h1 class="mb-0">Andi <span class="text-primary">The Robot</span></h1>
            </h1>
            <p>Programmer and Hobbyist. This site is my main content publishing platform. It will grow incrementally.
            </p>
            <p class="lead"> If you'd like to talk to me please <a class="btn btn-primary" href="/contact">Contact
                Me</a></p>
                <a class="btn btn-primary" href="/photos">View new photos</a>
            <hr class="my-4">
            <p class="badget badge badge-warning">This site is built from scratch with: Python + Django + SQL. Hosted on a Virtual Private Server</p>
         
          </div>
        </div>

      </div>



    </div>
  </div>
  <!--End row-->


  <div class="row">
    <div class="col-sm-12 ">

      <div class="widget-md">
        <h2 class="widget-title">My current tech skills</h2>
        <ul class="menu">
          <li class="marker"> <b>Web Development</b> <span class="tag-wrapper"><a class="tag"
                >Asp.NET</a>,
              <a class="tag" >React</a>, <a class="tag"
                >Javascript</a>, <a class="tag" >SQL</a>, <a
                 class="tag">Python</a>, <a class="tag"
                >C#</a></span></li>
                <li class="marker"> <b>Cloud Infrastructure</b> <span class="tag-wrapper"><a class="tag"
                  >Docker</a>,
                <a class="tag" >GIT</a>, <a class="tag"
                  >Javascript</a>, <a class="tag" >Linux</a>, <a
                   class="tag">CI/CD</a>, </span></li>

                   <li class="marker"> <b>Consulting</b> <span class="tag-wrapper"><a class="tag"
                    >Docker</a>,
                  <a class="tag" >GIT</a>, <a class="tag"
                    >Javascript</a>, <a class="tag" >Linux</a>, <a
                     class="tag">CI/CD</a>, </span></li>
         


        </ul>
      </div>
    </div>
  </div>

  




<div class="row">
  <div class="col-sm-6">

    <div class="card">
      <div class="card-header">
        <h3>Recent Activity <span style="font-size:16px">(the last four git commits to master)</span></h3>
      </div>
      <div class="card-body">
        <p class="label label-primary">August 8 2020: Minimal photo gallery implemented</p>
        <p class="label label-primary">August 6 2020: Implemented more reliable deployments</p>
        <p class="label label-primary">Incrementally Updating my site</p>
        <p class="label label-primary">Planned features: blog, photography gallery, small widgets.</p>
        

      </div>
    </div>
  </div>


  <div class="col-sm-6">

    <div class="card">
      <div class="card-header">
        <h2>Find me on these platforms</h2>
      </div>
      <ul style="list-style: none; ">

        <li class="label label-default"><a href="https://www.twitter.com/anditherobot">Twitter<i class="fa fa-twitter"></i></a></li>
        <li class="label label-default"><a href="https://www.github.com/anditherobot">Github<i class="fa fa-facebook"></i></a></li>
      </ul>
    </div>



</div>
</div>
</div>



{% endblock %}